@{
    ViewData["Title"] = "The Joel Hilton Film Collection"; //Title
}


<h1>Welcome to The Joel Hilton Film Collection</h1>
<img src="~/Images/JoelHiltonHeadshot.jpg"> <!--Image of the legend-->
<p>
    My name is Joel, and I LOVE movies. I also like to keep track of my ever-expanding movie collection.
    I've created a form to make this process easier. You'll also find a link to my podcast, Baconsale. Check it out!
</p>


