@{
    ViewData["Title"] = "My Podcast";
}
<h1>The Baconsale Podcast</h1>
<!--Link to Baconsale site-->
<p>If you love comedy and movies, then you'll love <a href="https://baconsale.com/">Baconsale!</a></p>

<a href="https://baconsale.com/"><img src="~/Images/heistdraft.jpg" /></a>